.body{
	border: solid 1px white;
}
.head{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
	background-color: #77C2FA;
	border-bottom: #007AFF solid 1px;
	font-family: 'Times New Roman', Times, serif;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.head>view{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding:5px 0px;
}
.head>view>text{
	margin:5px;
}
.bd{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 36px;
	background-color: red;
}
.search{
	background:#77C2FA!important;padding:0px!important;
}
.bookCard{
	margin:10px 15px;
	border: 1px blue solid;
	border-radius: 13px;
}
.booksort{
	position: relative;
}
.sortone{
	width:750rpx;
	position: absolute;
	top: 100%;
	left: -8px;
	background-color: #FFFFFF;
}
.sorttwo{
	width:750rpx;
	position: absolute;
	top: 100%;
	left: -67px;
	background-color: #FFFFFF;
}
.sortthree{
	width:750rpx;
	position: absolute;
	top: 100%;
	left: -127px;
	background-color: #FFFFFF;
}
.sortbody{
	width: 750rpx;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
}
.van-card__desc{
	height: 40px!important;
	overflow: hidden!important;
}